*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
}

@media screen and (min-width: 500px) {body{ font-size: 42px;}}
@media screen and (max-width: 499px) {body{ font-size: 8.4vw;}}

body{
    width: 100vw;
    height: 100vh;
}

header{
    padding: 1em 0;
    text-align: center;
    font-weight: bolder;
    font-size: .9em;
    line-height: 1em;
}

figure{
    position: relative;
    height: calc(100% - 2.7em);
    background-image: url(../img/menino.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

a{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: none;
    position: absolute;
    cursor: pointer;
}

a.nao{
    background-color: red;
}

a.atencao{
    background-color: yellow;
}

a.pode{
    background-color: green;
}

a#cabelo{
    top: 0.5em;
    left: calc(50% - 0.85em);
}

a#boca{
    top: 4.75em;
    left: calc(50% - 1em);
}

a#braco{
    top: 8.75em;
    left: calc(50% + 1.3em);
}

a#mao{
    top: 11em;
    left: calc(50% + 2em);
}

a#geni{
    top: 12.5em;
    left: calc(50% - 0.85em);
}

a#peito{
    top: 7.5em;
    left: calc(50% - 0.5em);
}

a#barriga{
    top: 10.35em;
    left: calc(50% - 0.85em);
}

a#perna{
    top: 15.5em;
    left: 50%;
}